* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

:root {
  --bg-primary: #1e213a;
  --bg-seconday: #100e1d;
  --bg-btn-secondary: #6e707a;
  --tx-primary: #e7e7eb;
  --tx-secondary: #a09fb1;
  --tx-tirtary: #88869d;
  --tx-footer: #616475;
  --ct-padding-top: 2.625rem;
  --ct-padding-bottom: 3.25rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.container {
  display: flex;
  overflow: hidden;
}

.inner-containers {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  /* height: 100vh; */
  background-color: var(--bg-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 31.875vw;
  padding: var(--ct-padding-top) 0rem var(--ct-padding-bottom);
}

.sub-container {
  /* height: 100vh; */
  background-color: var(--bg-seconday);
  display: flex;
  flex-direction: column;
  margin: auto;
  /* padding: 0 9.625rem 0 7.6875rem; */
  padding: 0 9.625rem 0 7.6875rem;
  flex: 68.125vw;
}

.highlight-container {
  display: grid;
  grid-template-columns: 22.7vw 22.7vw;
  grid-template-rows: auto auto;
  /* grid-template-rows: 20vh 16vh; */
  color: var(--tx-primary);
  grid-gap: 3rem;
}

.header-wrapper {
  color: var(--tx-primary);
}

.panel-wrapper {
  background-color: var(--bg-primary);
  color: var(--tx-primary);
  text-align: center;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-top: 1.53rem;
  font-size: 16px;
}

.panel-display {
  display: flex;
  flex: 7.34vh;
  justify-content: center;
  padding-bottom: 1.28rem;
}

.panel-degree-wrapper {
  color: var(--tx-primary);
  font-size: 75px;
  font-weight: 700;
}

.panel-unit-wrapper {
  font-size: 36px;
  font-weight: 500;
  align-self: flex-end;
}

.gage {
  width: 100%;
  height: 10px;
  background-color: var(--tx-primary);
  border-radius: 80px;
  margin-bottom: 2.56rem;
}

.ratio {
  width: 50%;
  height: 100%;
  border-radius: 80px;
  background-color: #ffec65;
}

.percentage-bar {
  margin: 0 3.125rem;
}

.direction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.53rem;
  flex: 3.95vh;
}

.toggler-container {
  text-align: end;
  margin-top: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 19.3vh;
  grid-column-gap: 1.625rem;
  padding-bottom: 2rem;
}

.footer-container {
  text-align: center;
}
